@page "/demo/contexmenu"

<PageTitle>Contex Menu</PageTitle>

<BasePage>
	<Header>
		<h1 class="m-0">Contex Menu</h1>
	</Header>
	<Body>
        <ContextTrigger ContextMenu="_contextMenu" Item="item">
            <div class="border p-5" style="user-select: none;">
                Right click here to open the context menu.
            </div>
        </ContextTrigger>
	</Body>
</BasePage>

<ContextMenu @ref="@_contextMenu">
    <ContextItem OnClick="OnContextClicked">
        <i class="bi bi-folder2-open me-2"></i>Test
    </ContextItem>
    <ContextItem OnClick="OnContextClicked">
        <i class="bi bi-folder2-open me-2"></i>Test
    </ContextItem>
    <ContextDivider />
    <ContextItem Class="text-danger" OnClick="OnContextClicked">
        <i class="bi bi-folder2-open me-2"></i>Test
    </ContextItem>
    <ContextDivider />
    <ContextHeader>Test</ContextHeader>
    <ContextItem OnClick="OnContextClicked">
        <i class="bi bi-folder2-open me-2"></i>Test 1234 5678
    </ContextItem>
    <ContextItem OnClick="OnContextClicked">
        <i class="bi bi-folder2-open me-2"></i>Test
    </ContextItem>
    <ContextItem OnClick="OnContextClicked">
        <i class="bi bi-folder2-open me-2"></i>Test
    </ContextItem>
    <ContextItem OnClick="OnContextClicked">
        <i class="bi bi-folder2-open me-2"></i>Test
    </ContextItem>
    <ContextItem OnClick="OnContextClicked">
        <i class="bi bi-folder2-open me-2"></i>Test
    </ContextItem>
</ContextMenu>

@code {
    private ContextMenu _contextMenu { get; set; } = default!;

    private class Item
    {
        public string Name { get; set; } = string.Empty;
    }

    private Item item = new Item { Name = "TestItem" };

    private void OnContextClicked(object item)
    {
        var myItem = item as Item;
        Console.WriteLine($"Context triggered for: {myItem?.Name ?? "NULL"}");
    }
}