@page "/demo/{*subpage}"

<PageTitle>Demo Page</PageTitle>

<Card Class="shadow">
    <CardHeader Class="border-0 pb-0">
        <h1 class="m-0">Demo Page</h1>
    </CardHeader>
    <NavtabMenu Class="card-tabs" ContentClass="card-body" OnChanged="OnTabChanged">
        <Navtab Name="Demo" To="demo">
            <PageTitle>Demo Page</PageTitle>
            <p>This page provides demos of many features, in this project.</p>
        </Navtab>
        <Navtab Name="Contex Menu" To="demo/contexmenu">
            <PageTitle>Context Demo</PageTitle>
            <ContextDemo />
        </Navtab>
        <Navtab Name="Test Page" To="demo/test">
            <PageTitle>Test Page</PageTitle>
            <p>Test</p>
        </Navtab>
    </NavtabMenu>
</Card>

@code {
    [Parameter] public string? Subpage { get; set; }

    private void OnTabChanged(string tabName)
    {
		StateHasChanged();
    }
}