@page "/"

<PageTitle>Home</PageTitle>

<Card Class="shadow">
    <CardHeader>
        <h1>Hello, world!</h1>
    </CardHeader>
    <CardBody>
        <p>This is the home page.</p>
    </CardBody>
</Card>