@inherits LayoutComponentBase

<Navbar Color="#c800ff">
    <StartTemplate>
        <NavLink class="nav-item nav-link" href="counter">
            <Icon Name="IconName.PlusSquareFill" Class="me-1" />Counter
        </NavLink>
        <NavLink class="nav-item nav-link" href="weather">
            <Icon Name="IconName.ListNested" Class="me-1" />Weather
        </NavLink>
    </StartTemplate>
    <EndTemplate>
        <ThemeMenu />
    </EndTemplate>
</Navbar>

<ScrollingTextBG Text="N-TECH DEMO" Color="#c800ff" />

<main>
    <div class="container-xxl my-5">
        @Body
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</main>

<Footer>
    <StartTemplate>
        <a href="/" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1">
            <img src="images/favicon.png" height="40" />
        </a>
        <span class="">© 2025 N-Tech</span>
    </StartTemplate>
    <EndTemplate>
        <a class="nav-link" href="https://github.com/nhave/NTech.Blazor" target="_blank">
            <Icon Name="IconName.Github" />
        </a>
    </EndTemplate>
</Footer>