@namespace NTech.Blazor

<div class="btn-group dropdown nav-item" id="test">
    <button class="nav-link dropdown-toggle" id="navbarDropdownMenuTheme" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i id="themeSelectIcon" class="bi me-1 me-sm-0"></i>
        <div class="d-inline d-sm-none">Theme</div>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuTheme">
        <li>
            <button type="button" id="themeSelectLight" class="dropdown-item d-flex" onclick="window.theme.changeTheme('light')">
                <i class="bi bi-sun-fill me-2"></i>
                Light
                <i class="bi bi-check ms-auto dropdown-check"></i>
            </button>
        </li>
        <li>
            <button type="button" id="themeSelectDark" class="dropdown-item d-flex" onclick="window.theme.changeTheme('dark')">
                <i class="bi bi-moon-stars-fill me-2"></i>
                Dark
                <i class="bi bi-check ms-auto dropdown-check"></i>
            </button>
        </li>
        <li>
            <button type="button" id="themeSelectOled" class="dropdown-item d-flex" onclick="window.theme.changeTheme('oled')">
                <i class="bi bi-lightbulb-off-fill me-2"></i>
                Oled
                <i class="bi bi-check ms-auto dropdown-check"></i>
            </button>
        </li>
        <li>
            <button type="button" id="themeSelectAuto" class="dropdown-item d-flex" onclick="window.theme.changeTheme('auto')">
                <i class="bi bi-circle-half me-2"></i>
                System
                <i class="bi bi-check ms-auto dropdown-check"></i>
            </button>
        </li>
    </ul>
</div>
<script>
    window.theme.updateTheme();
</script>

@code {
    [Parameter] public string? Color { get; set; }

    private string _color
    {
        get => string.IsNullOrWhiteSpace(Color) ? "" : $"--bs-dropdown-link-active-bg: {Color};";
    }
}
